#-  <project path="packages/modules/adb" name="LineageOS-UL/android_packages_modules_adb" remote="losul" />
#+  <project path="packages/modules/adb" name="LineageOS-UL/android_packages_modules_adb" remote="losul" revision="lineage-21.0-qpr1"/>

