#-  <project path="packages/modules/adb" name="LineageOS-UL/android_packages_modules_adb" remote="losul" />
#+  <project path="packages/modules/adb" name="LineageOS-UL/android_packages_modules_adb" remote="losul" revision="lineage-21.0-qpr1"/>

#============= hal_graphics_allocator_default ==============
allow hal_graphics_allocator_default default_prop:file { getattr open read };

#============= hal_graphics_composer_default ==============
allow hal_graphics_composer_default default_prop:file { getattr open read };

#============= init ==============
allow init hal_drm_hwservice:hwservice_manager { add find };
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init vendor_file:file { execute execute_no_trans };
allow init vndbinder_device:chr_file { ioctl open read write };

#============= init-qcom-devwait-sh ==============
allow init-qcom-devwait-sh system_prop:file { getattr open read };

#============= vendor_init ==============
allow vendor_init audio_prop:property_service set;
allow vendor_init bluetooth_prop:property_service set;
allow vendor_init build_prop:property_service set;
allow vendor_init default_prop:property_service set;
allow vendor_init hwui_prop:property_service set;
allow vendor_init init_service_status_prop:property_service set;
# allow vendor_init recovery_update_prop:property_service set;
allow vendor_init system_prop:property_service set;
allow vendor_init userdebug_or_eng_prop:property_service set;


#============= audioserver ==============
allow audioserver vendor_default_prop:file r_file_perms;


#============= bluetooth ==============
allow bluetooth hci_attach_dev:chr_file rw_file_perms;;
allow bluetooth vendor_default_prop:file r_file_perms;
allow bluetooth vendor_file:file rx_file_perms;

#============= bluetooth_loader ==============
allow bluetooth_loader default_prop:file r_file_perms;
allow bluetooth_loader system_prop:file r_file_perms;

#============= bootanim ==============
allow bootanim sysfs_graphics:file r_file_perms;
allow bootanim vendor_file:file rx_file_perms;

#============= cameraserver ==============
allow cameraserver vendor_default_prop:file r_file_perms;
allow cameraserver vendor_file:file rx_file_perms;
allow cameraserver video_device:chr_file rw_file_perms;;

#============= hal_audio_default ==============
allow hal_audio_default default_prop:file r_file_perms;

#============= init ==============
allow init rkpdapp:binder transfer;
allow init self:process execmem;
allow init untrusted_app_32:binder transfer;

#============= isolated_app ==============
allow isolated_app content_capture_service:service_manager find;

#============= mediacodec ==============
allow mediacodec default_prop:file r_file_perms;

#============= mediaprovider_app ==============
# allow mediaprovider_app rootfs:file { getattr setattr };

#============= nfc ==============
allow nfc firmware_file:dir search;
allow nfc firmware_file:file r_file_perms;
allow nfc nfc_device:chr_file rw_file_perms;
allow nfc vendor_default_prop:file r_file_perms;
allow nfc vendor_file:file rx_file_perms;

#============= platform_app ==============
allow platform_app sysfs_graphics:file r_file_perms;
allow platform_app vendor_file:file rx_file_perms;

#============= priv_app ==============
allow priv_app sysfs_graphics:file r_file_perms;
allow priv_app vendor_file:file r_file_perms;
allow priv_app vendor_file:file execute;

#============= rkpdapp ==============
allow rkpdapp init:binder call;
allow rkpdapp init:binder transfer;

#============= secure_element ==============
allow secure_element system_data_file:file open;

#============= sensors ==============
allow sensors default_prop:file r_file_perms;

#============= storaged ==============
# allow storaged sysfs:file r_file_perms;

#============= system_app ==============
allow system_app sysfs_graphics:file r_file_perms;
allow system_app vendor_file:file rx_file_perms;

#============= system_server ==============
allow system_server build_bootimage_prop:file r_file_perms;
allow system_server sysfs_soc:file r_file_perms;
allow system_server vendor_file:file rx_file_perms;

#============= untrusted_app ==============
allow untrusted_app build_attestation_prop:file r_file_perms;
# allow untrusted_app odsign_prop:file r_file_perms;
allow untrusted_app sysfs_graphics:file r_file_perms;
allow untrusted_app system_file:file lock;
allow untrusted_app userdebug_or_eng_prop:file read;
allow untrusted_app vendor_file:file rx_file_perms;


#============= untrusted_app_30 ==============
allow untrusted_app_30 sysfs_graphics:file r_file_perms;
allow untrusted_app_30 vendor_file:file rx_file_perms;

#============= untrusted_app_32 ==============
# allow untrusted_app_32 adbd_prop:file r_file_perms;
# allow untrusted_app_32 fastbootd_protocol_prop:file r_file_perms;
allow untrusted_app_32 aac_drc_prop:file r_file_perms;
allow untrusted_app_32 ab_update_gki_prop:file r_file_perms;
allow untrusted_app_32 adaptive_haptics_prop:file r_file_perms;
allow untrusted_app_32 apex_info_file:file r_file_perms;
allow untrusted_app_32 block_device:dir { getattr search };
allow untrusted_app_32 exported_overlay_prop:file r_file_perms;
allow untrusted_app_32 ffs_control_prop:file r_file_perms;
allow untrusted_app_32 init:binder call;
allow untrusted_app_32 linkerconfig_file:dir getattr;
allow untrusted_app_32 mirror_data_file:dir getattr;
allow untrusted_app_32 persist_file:dir getattr;
allow untrusted_app_32 proc:file r_file_perms;
allow untrusted_app_32 proc_asound:dir search;
allow untrusted_app_32 proc_version:file r_file_perms;
allow untrusted_app_32 serialno_prop:file r_file_perms;
allow untrusted_app_32 sysfs:file r_file_perms;
allow untrusted_app_32 sysfs_battery_supply:dir search;
allow untrusted_app_32 sysfs_graphics:dir search;
allow untrusted_app_32 sysfs_graphics:file r_file_perms;
allow untrusted_app_32 user_profile_data_file:dir getattr;
allow untrusted_app_32 vendor_file:file rx_file_perms;
allow untrusted_app_32 wifi_hal_prop:file r_file_perms;


#============= vendor_init ==============
# allow vendor_init init_service_status_private_prop:file r_file_perms;
# allow vendor_init recovery_update_prop:property_service set;
allow vendor_init default_prop:file r_file_perms;
allow vendor_init media_data_file:dir create_dir_perms;
allow vendor_init proc:file rw_file_perms;
allow vendor_init radio_prop:file r_file_perms;
allow vendor_init shell_data_file:dir search;
allow vendor_init system_prop:file r_file_perms;

#============= vold_prepare_subdirs ==============
# allow vold_prepare_subdirs checkin_data_file:dir relabelfrom;

#============= zygote ==============
allow zygote vendor_file:file rx_file_perms;