allow init diag_device:chr_file unlink;
allow init sysfs_mmc_host:file rw_file_perms;
allow init sysfs:file { rw_file_perms setattr };
allow init proc_last_kmsg:file { r_file_perms setattr };
allow init block_device:blk_file w_file_perms;

# Symlink /sdcard to backing block
allow init tmpfs:lnk_file create;

allow init {
    sysfs_devices_system_cpu
    sysfs_livedisplay_tuneable
    sysfs_mpdecision
    sysfs_msm_subsys
    sysfs_net
}:file w_file_perms;

allow init {
    proc_slabinfo
    sysfs_graphics
    sysfs_msm_subsys
    sysfs_rmnet
    sysfs_surfaceflinger
    sysfs_usb
    sysfs_wlan_fwpath
}:file setattr;

#============= init ==============
allow init hal_drm_hwservice:hwservice_manager { add find };
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init vndbinder_device:chr_file rw_file_perms;

allow init app_data_file:dir { getattr relabelfrom };
allow init privapp_data_file:dir { getattr relabelfrom };
allow init seapp_contexts_file:file r_file_perms;
allow init shell_data_file:dir relabelfrom;
allow init system_app_data_file:dir { getattr relabelfrom };
allow init vendor_file:file { execute execute_no_trans };
