#============= permissioncontroller_app ==============
# allow permissioncontroller_app sysfs_graphics:file r_file_perms;
allow permissioncontroller_app vendor_file:file rx_file_perms;
