#============= vendor_init ==============
allow vendor_init init_service_status_private_prop:file r_file_perms;
allow vendor_init recovery_update_prop:property_service set;

